.pred_tab {
    margin-top: 15px;
}
.pred_tab th {
  background: #f8f9fc;
  font-weight: normal;
  line-height: 15px;
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 5px;
  color: #949bab;
  border-bottom: 1px solid #e1e1e1;
}
.pred_tab td {
  padding: 10px;
  line-height: 20px;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
  background: #fff;
}
.pred_tab table {
    width: 100%;
}