@charset "UTF-8";
.red-color {
  color: #f44141 !important;
}

.green-color {
  color: #45b821 !important;
}

.gray-bg {
  background-color: #f0f4fb;
}

.blue-btn {
  background: #1c92ed;
  color: #fff;
  line-height: 34px;
  padding: 0 20px;
  display: inline-block;
  border-radius: 3px;
  height: 34px;
  overflow: hidden;
}
.blue-btn:hover {
  background: #1a7bc6;
}
.blue-btn:active {
  line-height: 36px;
}

.gray-btn {
  background: #aaa;
  color: #fff;
  line-height: 34px;
  padding: 0 20px;
  display: inline-block;
  border-radius: 3px;
  height: 34px;
  overflow: hidden;
}
.gray-btn:hover {
  background: #888;
}
.gray-btn:active {
  line-height: 36px;
}

body {
  font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #333;
  background: #fff;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

ul,
li,
ol {
  list-style: none;
}

.container {
  padding-top: 55px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  clear: both;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background: #565f7d;
  box-shadow: 0 4px 4px 0px rgba(96, 106, 137, 0.5);
  z-index: 2;

}
.header .logo {
  float: left;
  display: block;
  height: 55px;
  color: #fff;
  margin-left: 10px;
  font-weight: 100;
  background: url(../images/smic-logo.png) 0 center no-repeat;
  background-size: 75px auto;
  width: 100px;
}
.header .nav {
  float: left;
  margin: 2px 0 0 100px;
}
.header .nav li {
  float: left;
  margin: 0 30px;
}
.header .nav li a {
  display: block;
  line-height: 50px;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  min-width: 60px;
  text-align: center;
  font-size: 16px;
}
.header .nav li a:hover {
  color: #fff;
}
.header .nav li.cur a {
  border-bottom: 3px solid #ffff;
  color: #fff;
}
.header .right-bar {
  float: right;
  margin-right: 20px;
}
.header .right-bar a {
  color: #fff;
  padding: 12px 10px;
  line-height: 30px;
  display: block;
  float: left;
}
.header .right-bar a .headimg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  border:1px solid rgba(255,255,255,0.5);

}

.header .right-bar a i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.left-list {
  background: #8794b5;
  width: 312px;
  position: fixed;
  height: 100%;
  top: 55px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.left-list .title {
  line-height: 30px;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;

}
.left-list .List-tit {
  line-height: 25px;
  height: 25px;
  padding-left: 3px;
}
.left-list .List-tit span {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.5);
}
.left-list .List li {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.left-list .List li a {
  display: block;
  line-height: 40px;
  height: 40px;
  padding-left: 3px;
}
.left-list .List li a span {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 5px;
  color: #fff;
}
.left-list .List li:hover {
  background: rgba(97, 107, 137, 0.5);
}
.left-list .List li.cur {
  background: #616b89;
}
.left-list .List li.cur a:after {
  content:"";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: #30a5ff;
}


.right-content {
  padding: 0 20px;
  padding-right: 120px;
  margin: 10px auto;
}

.right-container {
  padding-left: 312px;
}
.right-container .top-btn-bar {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.right-container .top-btn-bar:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container .top-btn-bar a {
  float: left;
  margin-right: 10px;
}
.right-container .top-btn-bar a:hover {
  color: #fff;
}
.right-container .right-btn-bar {
  position: fixed;
  right: 10px;
  top: 100px;
  padding: 0;
  z-index: 10;
  width: 90px;
}
.right-container .right-btn-bar a {
  display: block;
  margin: 10px 0;
  width: auto;
  height: auto;
  line-height: 14px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0px rgba(28, 146, 237, 0.5);
}
.right-container .right-btn-bar a:hover {
  color: #fff;
}
.right-container .box-container:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container .box-container .box {
  box-sizing: border-box;
  line-height: 20px;
  position: relative;
  padding: 10px 0;
}
.right-container .box-container .box:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container .box-container .box .title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  padding-left: 0;
}
.right-container .box-container .box .more {
  position: absolute;
  right: 15px;
  line-height: 20px;
  top: 20px;
  font-size: 12px;
  color: #1c92ed;
}
.right-container .box-container .box select {
  width: 100px;
  height: 34px;
  margin-left: 10px;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #fff;
}
.right-container .box-container .box .box-content {
  padding: 5px 20px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  margin: 10px 0;
  border-radius: 4px;
  height: 100%;
  min-height: 100px;
}
.right-container .box-container .box .chart-box-content{
  padding-top: 40px;
}
.main_rem {
  cursor: pointer;
  height: 30px;
  width: 90px;
  border: 1px solid #ddd;
  color: red;
  position: absolute;
  line-height: 30px;
  top: 0px;
  border-radius: 3px;
  right: 95px;
  font-size: 12px;
  z-index: 1;
}
.right-container .box-container .box .box-content .main_box {
  height:340px;
  width: 100%;
  position: relative;
  margin-top: 40px;
  background: #fff;
}
.right-container .box-container .box .box-content .main {
  height: 100%;
  width: 100%;
}
.right-container .box-container .box .box-content .min-tit {
  line-height: 20px;
  font-size: 14px;
  padding: 10px 0;
  padding-left: 20px;
}
.right-container .box-container .box .box-content .chart-container {
  text-align: center;
  padding-left: 320px;
  position: relative;
}
.right-container .box-container .box .box-content .chart-container:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container .box-container .box .box-content .chart-container .chart1,
.right-container .box-container .box .box-content .chart-container .chart2 {
  display: block;
  float: left;
  margin: 10px 20px;
  vertical-align: top;
}
.right-container .box-container .box .box-content .chart-container .chip {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #ddd;
  position: absolute;
  left: 40px;
  top: 30px;
  overflow: hidden;
}
.right-container .box-container .box .box-content .chart-container .chip li i {
  display: block;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  line-height: 10px;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  z-index: 1;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li
  i:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f00;
  box-sizing: border-box;
  position: absolute;
  left: 1px;
  top: 1px;
}
.right-container .box-container .box .box-content .chart-container .chip li b {
  background: #000;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  border-radius: 50%;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li.chip-a
  i:after {
  background: #1eb97d;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li.chip-b
  i:after {
  background: #30a5ff;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li.chip-c
  i:after {
  background: #f87c0e;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li.chip-d
  i:after {
  background: #f83a0e;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chip
  li.chip-e
  i:after {
  background: #c40ef8;
}
.right-container .box-container .box .box-content .chart-container .chart2 {
  width: 90%;
  position: relative;
  margin-left: 40px;
  margin-bottom: 40px;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .y-axis
  li {
  border-top: 1px solid #ddd;
  border-left: 1px solid #000;
  height: 40px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .y-axis
  li:last-child {
  height: 0;
  border-top: 1px solid #000;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .y-axis
  li
  span {
  text-align: right;
  display: inline-block;
  width: 70px;
  position: absolute;
  left: -80px;
  line-height: 19px;
  top: -10px;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .y-axis
  li
  span:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  border-top: 1px solid #000;
  width: 5px;
  position: absolute;
  right: -9px;
  top: 9px;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .x-axis {
  position: absolute;
  bottom: -20px;
  line-height: 20px;
  left: 0;
  width: 100%;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .x-axis:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .x-axis
  li {
  float: left;
  width: 20%;
  position: relative;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .x-axis
  li
  span:after {
  content: "";
  display: block;
  width: 0;
  overflow: hidden;
  border-left: 1px solid #000;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 100%;
  display: table;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li {
  float: left;
  width: 20%;
  height: 200px;
  font-size: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li
  span {
  display: block;
  width: 40px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  background: #ddd;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.cur
  span {
  background: #1c92ed;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.bar-a.cur
  span {
  background: #1eb97d;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.bar-b.cur
  span {
  background: #30a5ff;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.bar-c.cur
  span {
  background: #f87c0e;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.bar-d.cur
  span {
  background: #f83a0e;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .bar-graph
  li.bar-e.cur
  span {
  background: #c40ef8;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  font-size: 0;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .line
  li {
  display: inline-block;
  width: 20%;
  height: 0;
  position: relative;
}
.right-container
  .box-container
  .box
  .box-content
  .chart-container
  .chart2
  .line
  li
  span {
  border-top: 2px solid #f00;
  width: 50%;
  display: inline-block;
  position: relative;
}
.right-container .box-container .box .box-content .pic-list {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #ddd;
}
.right-container .box-container .box .box-content .pic-list:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.right-container .box-container .box .box-content .pic-list a {
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 5px;
  background: #fff;
  padding: 5px;
  box-sizing: border-box;
}
.right-container .box-container .box .box-content .pic-list a img {
  display: block;
}
.right-container .box-container .box .history-list {
  padding: 0 10px;
}
.right-container .box-container .box .history-list li {
  line-height: 20px;
  padding: 5px 0;
}
.right-container .box-container .box .history-list li span {
  display: inline-block;
}
.right-container .box-container .box .history-list li span + span {
  margin-left: 10px;
}
.right-container .box-container .box .history-list li .time {
  color: #aaa;
}
.right-container .box-container .box .box-tb {
  margin-top: 10px;
}
.right-container .box-container .box .box-tb table {
  width: 100%;
  border-collapse: collapse;
}
.right-container .box-container .box .box-tb table tr th {
  background: #f8f9fc;
  font-weight: normal;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
  box-sizing: border-box;
  width: 14.28%;
  color: #b0bdd7;
  border-bottom: 1px solid #f0f2fd;
}
.right-container .box-container .box .box-tb table tr td {
  padding: 15px 10px;
  line-height: 20px;
  border-bottom: 1px solid #f0f2fd;
  box-sizing: border-box;
  background: #fff;
}
.right-container .box-container .box .box-tb table tr:hover td {
  background: #fafafa;
}
.right-container .top-bar {
  padding: 10px 0;
}
.right-container .top-bar .title {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  padding: 0;
}
.right-container .top-bar .btn-bar {
  margin-top: 10px;
}

.pup-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: Center;
}

.pup-box {
  background: #fff;
  min-width: 300px;
  min-height: 200px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.pup-box .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #aaa;
}
.pup-box .close-btn i {
  font-size: 20px;
}
.pup-box .max-tit {
  line-height: 30px;
  padding: 10px 15px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.pup-box .content {
  padding: 10px;
}
.pup-box .content .input-list {
  padding: 0 20px;
}
.pup-box .content .input-list li {
  position: relative;
  padding-left: 120px;
  min-height: 30px;
  margin: 5px;
}
.pup-box .content .input-list li .tit {
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  line-height: 24px;
  padding: 5px 0;
  width: 110px;
}
.pup-box .content .input-list li input,
.pup-box .content .input-list li select {
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}
.pup-box .content .input-list li input[type="date"] {
  padding: 0px;
}
.pup-box .content .input-line {
  padding: 0 10px;
}
.pup-box .content .input-line:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.pup-box .content .input-line li {
  float: left;
  margin-right: 20px;
}
.pup-box .content .input-line li .tit {
  display: inline-block;
  line-height: 24px;
  padding: 5px;
}
.pup-box .content .input-line li input,
.pup-box .content .input-line li select {
  width: 100px;
  height: 33px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}
.pup-box .content .input-line li input[type="date"] {
  padding: 0px;
}
.pup-box .content .pup-tb {
  padding: 10px;
}
.pup-box .content .pup-tb table {
  width: 100%;
  border-collapse: collapse;
}
.pup-box .content .pup-tb table tr th {
  background: #f8f9fc;
  font-weight: normal;
  line-height: 14px;
  padding: 10px 10px;
  text-align: left;
  box-sizing: border-box;
  width: 23%;
  color: #b0bdd7;
  border-bottom: 1px solid #f0f2fd;
}
.pup-box .content .pup-tb table tr td {
  padding:15px 10px;
  line-height: 20px;
  border-bottom: 1px solid #f0f2fd;
  box-sizing: border-box;
}
.pup-box .content .pup-tb table tr:hover td {
  background: #fafafa;
}
.pup-box .bottom-btn {
  text-align: center;
  padding: 20px 0;
  height: 30px;
}
.pup-box .bottom-btn a {
  margin: 0 20px;
}

/*# sourceMappingURL=style.css.map */

/* #dowebok {
  width: 700px;
  margin: 0 auto;
  font-size: 0;
}
#dowebok li {
  display: inline-block;
  width: 32%;
  margin-left: 1%;
  padding-top: 1%;
}
#dowebok li img {
  width: 100%;
} */
.legend {
  width: 90%;
  margin: 10px 20px 0 40px;
  position: relative;
  top: 30px;
}
.legend #dowebok > li,
.legend #dowebok1 > li,
.legend #dowebok3 > li,
.legend #dowebok4 > li {
  width: 20%;
  float: left;
}
.legend li span {
  display: inline-block;
}
.legend li .legend_img {
  width: 40px !important;
  max-height: 24px;
}

.model_swich {
  position: absolute;
  top: 22px;
}

.dailog-box {
  width: 70%;
  height: 70%;
  border: 1px solid #1a7bc6;
  background: #fff;
  position: relative;
}
.dailog-box .box {
  background: #fff !important;
}
.dailog-box .box-container {
  overflow: auto;
  height: 100%;
}
.dailog-box .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #aaa;
}

.dailog-box .max-tit {
  line-height: 30px;
  padding: 10px 15px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.add_box {
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
}
.add_box select {
  float: left;
  margin-right: 10px !important;
  margin-left: 0px !important;
}
.add_box .blue-btn {
  border-radius: 3px;
  float: left;
  margin-left: 20px;
}
